WebProductCatalogueServiceComponents/WebContent/WEB-INF/wsdl/ChannelProductCatalogue_v1_Messages.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by Tanya Terblanche (Nedbank) --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://contracts.it.nednet.co.za/services/ent/productandservicedevelopment/ChannelProductCatalogue/v1" xmlns="http://contracts.it.nednet.co.za/services/ent/productandservicedevelopment/ChannelProductCatalogue/v1">
	<xsd:element name="GetProduct" type="GetProductType"/>
	<xsd:element name="GetProductHierarchy" type="GetProductHierarchyType"/>
	<xsd:element name="GetProductHierarchyResponse" type="GetProductHierarchyResponseType"/>
	<xsd:element name="GetProductResponse" type="GetProductResponseType"/>
	<xsd:element name="productCatalogue" type="ProductCatalogueType"/>
	<xsd:element name="productIdentifier" type="xsd:int"/>
	<xsd:element name="product" type="ProductType"/>
	<xsd:element name="resultSet" type="ResultSetType"/>
	<xsd:element name="RetrieveProducts" type="RetrieveProductsType"/>
	<xsd:element name="RetrieveProductsResponse" type="RetrieveProductsResponseType"/>
	<xsd:element name="MaintainCatalogueRequest" type="MaintainCatalogueRequestType"/>
	<xsd:element name="MaintainCatalogueResponse" type="MaintainCatalogueResponseType"/>
	<xsd:element name="GetProductMappingRequest" type="GetProductMappingRequestType"/>
	<xsd:element name="GetProductMappingResponse" type="GetProductMappingResponseType" />
	<xsd:complexType name="AmountType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="amount" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="currency" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BasePriceType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="price" type="AmountType"/>
			<xsd:element minOccurs="0" name="frequency" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Daily / Weekly / Monthly etc</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FilterGroupsType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="filterGroupID" type="xsd:int"/>
			<xsd:element minOccurs="0" name="filterGroupName" type="xsd:string"/>
			<xsd:element minOccurs="0" name="filterType" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filterItems" type="FilterItemsType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FilterItemsType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="filterID" type="xsd:int"/>
			<xsd:element minOccurs="0" name="filterDisplay" type="xsd:string"/>
			<xsd:element minOccurs="0" name="productAttribute" type="xsd:string"/>
			<xsd:element minOccurs="0" name="minValue" type="xsd:int"/>
			<xsd:element minOccurs="0" name="maxValue" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProductHierarchyResponseType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="resultSet"/>
			<xsd:element minOccurs="0" ref="productCatalogue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProductResponseType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="resultSet"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="product" type="ProductType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="productIdentifier"/>
			<xsd:element minOccurs="0" name="name" type="xsd:string"/>
			<xsd:element minOccurs="0" name="shortDescription" type="xsd:string"/>
			<xsd:element minOccurs="0" name="description"/>
			<xsd:element minOccurs="0" name="productPricing" type="ProductPricingType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="salesHighlights" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Marketing features of the product on a higher level</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="productOnAPageWebURL" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="productAttributeGroup" type="productAttributeGroupType"/>
			<xsd:element name="features" type="FeaturesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProductType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" ref="productIdentifier">
				<xsd:annotation>
					<xsd:documentation>Concatenated key consisting of productFamily, ProductCategory, ProductLine and ProductName</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
		<xsd:complexType name="FeaturesType">
		<xsd:sequence>
			<xsd:element name="featureIdentifier" type="xsd:int" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="mandatory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="preSelected" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shortDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="featureGrouping" type="FeatureGroupingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="featureType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="referenceProductID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="featurePricing" type="ProductPricingType" minOccurs="0"/>
			<xsd:element name="featureFulfilment" type="FeatureFulfilmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="featureDisplayAdditionalInformationWidget" type="xsd:string" minOccurs="0"/>
			<xsd:element name="featureOnAPageWebURL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="featureDisplayPosition" type="xsd:string" minOccurs="0"/>
			<xsd:element name="featureAttributeGroup" type="FeatureAttributeGroupType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeatureAttributeGroupType">
		<xsd:sequence>
			<xsd:element name="attributeGroupName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="featureAttributes" type="AttributesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttributesType">
		<xsd:sequence>
			<xsd:element name="attributeType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="attributeName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="minValue" type="xsd:int" minOccurs="0"/>
			<xsd:element name="maxValue" type="xsd:int" minOccurs="0"/>
			<xsd:element name="valueUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeatureFulfilmentType">
		<xsd:sequence>
			<xsd:element name="channel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fulfilmentType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fulfilmentInputSetting1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fulfilmentInputSetting2" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeatureGroupingType">
		<xsd:sequence>
			<xsd:element name="featureGroupName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="featureGroupRuleForProduct" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductattributesType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="attributeType" type="xsd:string"/>
			<xsd:element minOccurs="0" name="attributeName" type="xsd:string"/>
			<xsd:element minOccurs="0" name="isComparable" type="xsd:string"/>
			<xsd:element minOccurs="0" name="minValue" type="xsd:int"/>
			<xsd:element minOccurs="0" name="maxValue" type="xsd:int"/>
			<xsd:element minOccurs="0" name="value" type="xsd:string" />
			<xsd:element minOccurs="0" name="valueUnit" type="xsd:string"/>
			<xsd:element minOccurs="0" name="description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductCatalogueType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="productFamilies" type="ProductFamiliesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductCategoriesType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name" type="xsd:string"/>
			<xsd:element minOccurs="0" name="description" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="productLines" type="ProductLinesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductFamiliesType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name" type="xsd:string"/>
			<xsd:element minOccurs="0" name="description" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="productCategories" type="ProductCategoriesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductLinesType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name" type="xsd:string"/>
			<xsd:element minOccurs="0" name="description" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="filterGroups" type="FilterGroupsType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="product"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeeType">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Fee type, eg Admin Fee</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="description" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>A user friendly description of the fee </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>currency code (ISO 2 digit)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amount" type="xsd:decimal"/>
			<xsd:element minOccurs="0" name="frequency" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>daily / weekly / monthly / yearly etc</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductPricingType">
		<xsd:sequence>
			<xsd:element name="fee" type="FeeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultSetType">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>A short code indicating the outcome of the operation. The list of codes will be defined per service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="resultDescription" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>A detailed description explaining the outcome of the operation. It must be used to return messages that can help troubleshooting error scenarios.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveProductsResponseType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="resultSet"/>
			<xsd:element minOccurs="0" ref="productCatalogue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProductHierarchyType">
		<xsd:sequence minOccurs="0">
			<xsd:element ref="productCatalogueID"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveProductsType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="productCategoryID"/>
			<xsd:element minOccurs="0" ref="productFamilyID"/>
			<xsd:element minOccurs="0" ref="productLinesID"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MaintainCatalogueRequestType">
		<xsd:sequence>
			<xsd:element name="operationType" type="xsd:string"/>
			<xsd:element name="tableName" type="xsd:string"/>
			<xsd:element name="productIdentifier" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element minOccurs="0" name="xmlData" type="xsd:string"/>
			<xsd:element minOccurs="0" name="jsonData" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MaintainCatalogueResponseType">
		<xsd:sequence>
			<xsd:element name="responseString" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProductMappingRequestType">
		<xsd:sequence>
			<xsd:element name="enterpriseProductId" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="targetSystemId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProductMappingResponseType">
	    <xsd:sequence>
	      <xsd:element name= "ProductMappingDetailsResp" type="ProductMappingDetailsResp" minOccurs="0" maxOccurs="unbounded"/>
	    </xsd:sequence>
  	</xsd:complexType> 
  	<xsd:complexType name="ProductMappingDetailsResp">
	    <xsd:sequence>
			<xsd:element name="enterpriseProductId" type="xsd:string" />
			<xsd:element name="mappedProductId" type="xsd:string" />
		</xsd:sequence>
  	</xsd:complexType>
	<xsd:element name="productCategoryID" type="xsd:string"/>
	<xsd:element name="productFamilyID" type="xsd:string"/>
	<xsd:element name="productLinesID" type="xsd:string"/>
	<xsd:element name="productCatalogueID" type="xsd:string"/>
	<xsd:complexType name="productAttributeGroupType">
		<xsd:sequence>
			<xsd:element name="attributeGroupName" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="productAttributes" type="ProductattributesType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>