WebProductCatalogueServiceComponents/WebContent/WEB-INF/wsdl/ChannelProductCatalogue_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl11:definitions xmlns:wsdl11="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://contracts.it.nednet.co.za/services/ent/productandservicedevelopment/ChannelProductCatalogue/v1" xmlns:mime="http:/schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://contracts.it.nednet.co.za/services/ent/productandservicedevelopment/ChannelProductCatalogue/v1" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl11:types>
    <xsd:schema targetNamespace="http://contracts.it.nednet.co.za/services/ent/productandservicedevelopment/ChannelProductCatalogue/v1">
			<xsd:include schemaLocation="ChannelProductCatalogue_v1_Messages.xsd"/>
		</xsd:schema>
  </wsdl11:types>
  <wsdl11:message name="GetProductHierarchyRq">
    <wsdl11:part element="tns:GetProductHierarchy" name="GetProductHierarchy">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:message name="GetProductHierarchyRs">
    <wsdl11:part element="tns:GetProductHierarchyResponse" name="GetProductHierarchyResponse">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:message name="GetProductRq">
    <wsdl11:part element="tns:GetProduct" name="GetProduct">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:message name="GetProductMappingRq">
    <wsdl11:part element="tns:GetProductMappingRequest" name="GetProductMappingRequest">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:message name="GetProductMappingRs">
    <wsdl11:part element="tns:GetProductMappingResponse" name="GetProductMappingResponse">
    </wsdl11:part>
  </wsdl11:message>
    <wsdl11:message name="MaintainCatalogueRq">
    <wsdl11:part element="tns:MaintainCatalogueRequest" name="MaintainCatalogueRequest">
    </wsdl11:part>
  </wsdl11:message>
    <wsdl11:message name="MaintainCatalogueRs">
    <wsdl11:part element="tns:MaintainCatalogueResponse" name="MaintainCatalogueResponse">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:message name="RetrieveProductsRq">
    <wsdl11:part element="tns:RetrieveProducts" name="RetrieveProducts">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:message name="GetProductRs">
    <wsdl11:part element="tns:GetProductResponse" name="GetProductResponse">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:message name="RetrieveProductsRs">
    <wsdl11:part element="tns:RetrieveProductsResponse" name="RetrieveProductsResponse">
    </wsdl11:part>
  </wsdl11:message>
  <wsdl11:portType name="iChannelProductCatalogue">
    <wsdl11:operation name="RetrieveProducts">
<wsdl11:documentation>Returns a list of products based on certain search criteria</wsdl11:documentation>
      <wsdl11:input message="tns:RetrieveProductsRq">
    </wsdl11:input>
      <wsdl11:output message="tns:RetrieveProductsRs">
    </wsdl11:output>
    </wsdl11:operation>
    <wsdl11:operation name="GetProductHierarchy">
<wsdl11:documentation>Retrieves the complete product hierarchy, together with channel-centred metadata, such as filterable attributes for a given product category in the product hierarchy.</wsdl11:documentation>
      <wsdl11:input message="tns:GetProductHierarchyRq">
    </wsdl11:input>
      <wsdl11:output message="tns:GetProductHierarchyRs">
    </wsdl11:output>
    </wsdl11:operation>
    <wsdl11:operation name="GetProduct">
<wsdl11:documentation>Retrieves the complete information for a given product</wsdl11:documentation>
      <wsdl11:input message="tns:GetProductRq">
    </wsdl11:input>
      <wsdl11:output message="tns:GetProductRs">
    </wsdl11:output>
    </wsdl11:operation>
    <wsdl11:operation name="MaintainCatalogue">
<wsdl11:documentation>CRUD operations for a given product</wsdl11:documentation>
      <wsdl11:input message="tns:MaintainCatalogueRq">
    </wsdl11:input>
      <wsdl11:output message="tns:MaintainCatalogueRs">
    </wsdl11:output>
    </wsdl11:operation>
    <wsdl11:operation name="GetProductMapping">
<wsdl11:documentation>Mapping Product ID between ProductSpec and Siyaka</wsdl11:documentation>
      <wsdl11:input message="tns:GetProductMappingRq">
    </wsdl11:input>
      <wsdl11:output message="tns:GetProductMappingRs">
    </wsdl11:output>
    </wsdl11:operation>
  </wsdl11:portType>
</wsdl11:definitions>