JavaProductCatalogueServiceComponents/src/META-INF/wsdl/EnterpriseContext_2008-09.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://contracts.it.nednet.co.za/Infrastructure/2008/09/EnterpriseContext" xml:lang="en" xmlns="http://contracts.it.nednet.co.za/Infrastructure/2008/09/EnterpriseContext" xmlns:cobol="http://contracts.it.nednet.co.za/enterprise/2005-07-11/COBOLSchema">
  <xsd:annotation>
    <xsd:documentation>This documentation was generated as output from the Message Manager tool.
Copyright Nedbank 2004-2005, all rights reserved.
Generation at: 2008-11-17  18:10
Generated by: NB136934
Generation data source: EnterpriseContextV2 on server TAURUS</xsd:documentation>
  </xsd:annotation>
  <!-- Type definitions of simple types -->
  <xsd:simpleType name="ChannelId_Type">
    <xsd:annotation>
      <xsd:documentation>The unique Identifier for the channel used to initiate the request.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long">
      <xsd:totalDigits value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChildInstrumentationId_Type">
    <xsd:annotation>
      <xsd:documentation>This is the instrumentation Id of the child instrumentation entry. This must be a GUID.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ExecutionContextId_Type">
    <xsd:annotation>
      <xsd:documentation>This identifier unique used to uniquely identify this request. This must be a GUID.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MachineDNSName_Type">
    <xsd:annotation>
      <xsd:documentation>The full qualified domain name of the machine</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MachineIPAddress_Type">
    <xsd:annotation>
      <xsd:documentation>Contains the IP Address of the machine.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParentInstrumentationId_Type">
    <xsd:annotation>
      <xsd:documentation>This is the instrumentation Id of the parent instrumentation entry. This must be a GUID.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProcessContextId_Type">
    <xsd:annotation>
      <xsd:documentation>This identifier indicates that this request is part of a bigger process. This is a unique ID per process instance. This must be a GUID.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UserPrincipleName_Type">
    <xsd:annotation>
      <xsd:documentation>The user name that is used to log onto a machine.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- Type definitions of complex types (Aggregates) -->
  <xsd:complexType name="ContextInfo_Type">
    <xsd:annotation>
      <xsd:documentation>Contains information about the context within which the request is executing.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProcessContextId" type="ProcessContextId_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ExecutionContextId" type="ExecutionContextId_Type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstrumentationInfo_Type">
    <xsd:annotation>
      <xsd:documentation>Contains information that is used when perform instrumentation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="ParentInstrumentationId" type="ParentInstrumentationId_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ChildInstrumentationId" type="ChildInstrumentationId_Type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestOriginator_Type">
    <xsd:annotation>
      <xsd:documentation>Contains information about where and when the request was originated.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="MachineIPAddress" type="MachineIPAddress_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="UserPrincipleName" type="UserPrincipleName_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="MachineDNSName" type="MachineDNSName_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ChannelId" type="ChannelId_Type"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Type definitions of complex types (Messages) -->
  <xsd:complexType name="EnterpriseContext_Type">
    <xsd:annotation>
      <xsd:documentation>Contain enterprise specific information that is required on every request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="ContextInfo" type="ContextInfo_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestOriginator" type="RequestOriginator_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="InstrumentationInfo" type="InstrumentationInfo_Type"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Message complex types made available as elements -->
  <xsd:element name="EnterpriseContext" type="EnterpriseContext_Type"/>
</xsd:schema>